<ion-tabs>
  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="restaurantes" href="/tabs/restaurantes">
      <ion-icon aria-hidden="true" name="restaurant"></ion-icon>
      <ion-label>Restaurantes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reservas" href="/tabs/reservas">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>Reservas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mapa" href="/tabs/mapa">
      <ion-icon aria-hidden="true" name="map"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
