<ion-header>
  <ion-toolbar color="primary" class="custom-toolbar">
    <ion-title class="ion-text-center">
      <div class="logo-title">
        <img src="assets/Saborclick.png" alt="Logo" class="logo-image" />
        <span>SaborClick</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar  color="tertiary">
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <google-map
    height="100%"
    width="100%"
    [center]="center"
    [zoom]="zoom">
  </google-map>
</ion-content>
