.custom-toolbar {
  --min-height: 80px; /* más alto que el estándar (56px) */
}

.logo-image {
  height: 75px; /* puedes subirlo más si deseas */
  object-fit: contain;
}

.logo-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.9rem;
  font-weight: 600;
  color: "ligth";
  font-family: 'Georgia', serif; /* Ejemplo de fuente elegante */
}
.archivo-logo {
  margin: 1em 0;
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5em;
  }
  input[type="file"] {
    width: 100%;
  }
}
