<ion-header>
  <ion-toolbar color="primary" class="custom-toolbar">
    <ion-title class="ion-text-center">
      <div class="logo-title">
        <img src="assets/Saborclick.png" alt="Logo" class="logo-image" />
        <span>SaborClick</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Restaurantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-item *ngFor="let restaurante of restaurantes" lines="full" detail="false">
      <ion-thumbnail slot="start">
        <img [src]="restaurante.imagen" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ restaurante.nombre }}</h2>
        <p>
          <ion-text color="medium">{{ restaurante.descripcion }}</ion-text>
        </p>
        <ion-text color="secondary">⭐ {{ restaurante.calificacion }}</ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="block" color="secondary" shape="round" (click)="agregarRestaurante()">
    Agregar Restaurante
  </ion-button>
</ion-content>
